@page
@model RazorPizzeria.Pages.PizzaModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">
            Our great selection of Pizzas!
        </h1>
        <h4>Choose one, or try our Pizza Builder! Then Order and Done!</h4>
        <h4>No need to give any of your details!</h4>
        <h4>We alreade know everything!</h4>
        <p class="smallText"><i>Only one pizza per order.</i></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4 pizza-img">
                        <img src="~/images/Create.png" class="w-100" />
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="align-middle makeYourOwn Text" >
                            <h3 style="text-align:center; margin-top:4.5em; margin-bottom: 0.5%;">Create you own Pizza</h3>
                            <p style="text-align:center;">Make your own Pizza with our PizzaMaker!</p>
                            <a class="btn btn-primary" style="float:inherit;" asp-area="" asp-page="Forms/CustomPizza">Make order</a>

                        </div>
                    </div>
                </div>
            </div>
            @foreach (var pizza in Model.fakePizzaDb)
            {
                var imagePath = @"/images/" + pizza.ImageTitle + ".png";

                @*<div class="col-4 mb-5">
                    <img src="@imagePath" class="w-100" asp-append-version="true" />
                    <a class="btn btn-primary mt-1" asp-area="" asp-page="Make_order/Make_order" 
                    asp-route-ImageTitle ="@pizza.ImageTitle" 
                    asp-route-PizzaPrice ="@pizza.FinalPrice" 
                    asp-route-PizzaName = "@pizza.PizzaName" >Get this Pizzas!</a>
                    <br />
                </div>*@
                <div class="col-4 mb-5">
                    <a class="pizza-img" asp-area="" asp-page="Make_order/Make_order" 
                    asp-route-ImageTitle ="@pizza.ImageTitle" 
                    asp-route-PizzaPrice ="@pizza.FinalPrice" 
                    asp-route-PizzaName = "@pizza.PizzaName" >
                    <img src="@imagePath" class="w-100" asp-append-version="true" />
                </a>
                    <br />
                </div>
            }

        </div>

    </div>
</div>